$black: #050403;
$brown: #261D14;
$yellow: #F6B62D;
$purple: #B1A0F8;
$blue: #138EFF;
$turquoise: #12EC9C;

$easingAndDur: ease-in-out 300ms;

// custom properties used for changing 
// the color of buttons and particles
:root {
    --current: #{$turquoise};
}
.theme--yellow {
    --current: #{$yellow};
}
.theme--purple {
    --current: #{$purple};
}
.theme--blue {
    --current: #{$blue};
}