$black: #050403;
$brown: #261D14;
$yellow: #F6B62D;
$purple: #B1A0F8;
$blue: #138EFF;
$turquoise: #12EC9C;

$easingAndDur: ease-in-out 300ms;

// custom properties used for changing 
// the color of buttons and particles
:root {
    --current: #{$turquoise};
}
.theme--yellow {
    --current: #{$yellow};
}
.theme--purple {
    --current: #{$purple};
}
.theme--blue {
    --current: #{$blue};
}

%button-base {
    text-transform: lowercase;
    font-size: 1.4rem;
    font-weight: 900;
    width: 100%;
    padding: 8px 12px;
    border-radius: 8px;
}
%transitionColor {
    transition: 
        background-color $easingAndDur,
        color $easingAndDur,
        border-color $easingAndDur;
}
%buttonTransition {
    transition: 
        background-color $easingAndDur,
        color $easingAndDur,
        border-color $easingAndDur,
        box-shadow ease-in-out 200ms;
}