@use '../variables' as *;

.logo {
    text-align: center;

    &__img {
        margin: 0 auto 19px;
    }
    &__heading {
        background: linear-gradient(to top, $thirdly, #FFF);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4rem;
        display: inline-block;
        margin: 0;
    }
}
.location-form {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 100%;

    &__field-container {
        height: 96px;
        z-index: 2;
    }
}
.custom-select {
    position: relative;
}
.select-input {
    padding: 0;
    display: grid;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 10;
    user-select: none;

    &:hover {
        .select-input__icon {
            opacity: 1;
        }
    }

    &__input {
        letter-spacing: inherit;
        text-align: center;
        grid-column: 1;
        grid-row: 1;
        padding: 13px 0;
        &::selection {
            background-color: transparent;
        }
    }
    &__icon {
        width: 18px;
        height: 18px;
        margin-right: 13px;
        justify-self: end;
        grid-column: 1;
        grid-row: 1;
        opacity: 0.75;
        transition: opacity 250ms ease-in-out,
                    transform 350ms ease-in-out;

    }
}
.select-input--open {
    border-color: white;

    .select-input__icon {
        transform: rotateX(180deg);
    }
}
.options {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 13px 0;
    position: absolute;
    top: calc(100% + 7px);
    left: 0;
    z-index: 9;

    &:hover {
        border-color: rgba(255, 255, 255, 0.25);
    }

    &__option {
        text-align: center;
        padding: 13px 26px;
        cursor: pointer;
        transition: background-color 250ms ease-in-out;

        &:hover, &:focus {
            background-color: rgba(0,0,0,0.25);
        }
        &:focus {
            outline: solid;
        }
    }
}
.coordinates {
    width: 100%;
    display: flex;
    column-gap: 7px;
}